body {
font:small 1.6em Vendana,Helvetica,Arial,sans-serif;
}

h1,h2 {
color:#007e7e;
}

h1 {
font-size:150%;
}

h2 {
font-size:130%;
}

#guarantee {
background:#a7cece url(images/background.gif) no-repeat top left;
font:italic 1em Georgia,"Times New Roman",Times,Serif;
background-color:#a7cece;
border:1px dashed white;
padding:25px;
padding-left:80px;
margin:30px;
margin-right:250px;
color:#444444;
}

#elixirs {
border:thin solid #007e7e;
width:200px;
text-align:center;
padding:0px 20px 20px 20px;
margin-left:20px;
background: url("images/cocktail.gif") repeat-x;
line-height:1;
}

#elixirs h2 {
color:black;
}

#elixirs h3 {
color:red;
}

#footer p {
font:50% normal;
text-align:center;
margin-top:30px;
}

.cd {
font-style:italic;
}

.artist {
font-weight:bold;
}

a:link {
color:green;
}

a:visited {
color:red;
}

a:hover {
color:yellow;
}

#elixirs a:link {
color:#007e7e;
}

#elixirs a:visited {
color:#333333;
}

#elixirs a:hover {
background-color:#f88396;
color:#0d5353;
}












